:root {
  --color-primary-text: #dddbff;
  --color-secondary-text: #848794;
  --color-background: #1d2c67;
  --color-accent: #0c122c;
  --color-start-gradient: #ffa399;
  --color-end-gradient: #ff4d97;
  --border-radius: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: var(--color-primary-text);
}

/* Action Panel */
.panel-action {
  background-color: var(--color-background);
  border-radius: 12px 100px 12px 12px;
  padding: 40px 80px 40px 40px;
  display: flex;
  flex-wrap: wrap;
}

.action__header {
  flex-basis: 100%;
  margin-bottom: 30px;
}

.icon-container {
  width: 48px;
  height: 48px;
  background-color: var(--color-accent);
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

/* Meter */
.meter {
  background: var(--color-accent);
  width: auto;
  height: 20px;
  border-radius: 30px;
  padding: 3px;
  margin-bottom: 1rem;
}

.meter--current {
  width: 80%;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--color-start-gradient),
    var(--color-end-gradient)
  );
  border-radius: 30px;
  padding: 2px;
  display: flex;
  justify-content: flex-end;
}

.meter-range {
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.dot {
  display: inline-block;
  background: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

/* Information Panel */
.panel-information {
  background: var(--color-background);
  border-radius: var(--border-radius);
  padding: 3rem 3rem 5rem;
}

.information__header {
  text-align: center;
  margin-bottom: 1.8rem;
}

.information__meter {
  max-width: 500px;
  margin: 0 auto;
}

.information__popup {
  display: inline-block;
  background: white;
  padding: 2rem 2.5rem;
  border-radius: var(--border-radius);
  color: var(--color-secondary-text);
  font-weight: 700;
  text-transform: uppercase;
}

.number {
  font-size: 4rem;
  color: var(--color-accent);
  vertical-align: -15%;
  margin-right: 0.5rem;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
