<div class="panel-action container">
  <div class="action__header">
    <img src="images/logo.svg" alt="Logo of the company" />
  </div>
  <div class="action__content">
    <span class="icon-container">
      <img src="images/icon-document.svg" alt="Icon for document" />
    </span>
    <span class="icon-container">
      <img src="images/icon-folder.svg" alt="Icon for folder" />
    </span>
    <span class="icon-container">
      <img src="images/icon-upload.svg" alt="Icon for upload" />
    </span>
  </div>
</div>
